body {
    background-color: black;
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* Enable scrolling */
}

.clock {
    position: relative;
    width: 700px;
    height: 700px;
    margin: auto;
}

.clockCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clockCaseImage {
    height: 700px;
    width: 700px;
    clip-path: circle(312px at center);
}

.clockDateImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(
            /* Outer top left */
            calc(47% + 4px) calc(72% + 3px),
            /* outer bottom left */
            calc(47% + 4px) calc(77% - 3px),
            /* Outer gap left */
            calc(48% + 2px) calc(77% - 3px),
            /* Inner top left*/
            calc(48% + 2px) 73%,
            /* Inner top right */
            calc(52% - 2px) 73%,
            /* Inner bottom right */
            calc(52% - 2px) 76%,
            /* Inner bottom left*/
            calc(48% + 2px) 76%,
            /* Outer gap right */
            calc(48% + 2px) calc(77% - 3px),
            /* outer bottom right */
            calc(53% - 4px) calc(77% - 3px),
            /* Outer Top right */
            calc(53% - 4px) calc(72% + 3px));
}

.face {
    height: 550px;
    width: 550px;
    background-color: #fffcf5;
    border-radius: 50%;
}

.number {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.date {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 20px;
    top: 82%;
    left: 50%;
    /* border: 3px solid #ffcb3d; */
}

.twelve {
    top: 0;
    left: 50%;
}

.one {
    top: 6%;
    left: 72%;
}

.two {
    top: 21%;
    left: 90%;
}

.three {
    top: 45%;
    left: 96%;
}

.four {
    top: 68%;
    left: 90%;
}

.five {
    top: 84%;
    left: 73%;
}

.six {
    top: 90%;
    left: 50%;
}

.seven {
    top: 84%;
    left: 27%;
}

.eight {
    top: 68%;
    left: 10%;
}

.nine {
    top: 45%;
    left: 4%;
}

.ten {
    top: 22%;
    left: 10%;
}

.eleven {
    top: 6%;
    left: 28%;
}

.handBase {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
}

.minuteHand {
    height: 40px;
    width: 8px;
    background-color: black;
    transform-origin: center bottom;
}

.minuteHandInvertedPointer {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 30px solid black;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: center bottom;
}

.minuteHandPointer {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 215px solid black;
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
}

.hourHand {
    height: 40px;
    width: 8px;
    background-color: black;
    transform-origin: center bottom;
}

.hourHandInvertedPointer {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 30px solid black;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: center bottom;
}

.hourHandPointer {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 150px solid black;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
}

.secondHand {
    height: 250px;
    width: 7px;
    background-color: black;
    transform-origin: center bottom;
}

.secondHandGear {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.secondHandGear2 {
    position: absolute;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
}

.secondHandGearImage {
    height: 100px;
    width: 100px;
}

.secondHandGearImage2 {
    height: 340px;
    width: 340px;
}

.minuteHandGearImage {
    height: 180px;
    width: 180px;
}

.hourHandGearImage {
    height: 275px;
    width: 275px;
}