body {
    background-color: black;
}

.clockCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.case {
    height: 600px;
    width: 600px;
    background-color: #ffcb3d;
    border-radius: 50%;
}

.face {
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 50%;
}

.number {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.twelve {
    top: 0;
    left: 50%;
}

.one {
    top: 6%;
    left: 72%;
}

.two {
    top: 21%;
    left: 90%;
}

.three {
    top: 45%;
    left: 96%;
}

.four {
    top: 68%;
    left: 90%;
}

.five {
    top: 84%;
    left: 73%;
}

.six {
    top: 90%;
    left: 50%;
}

.seven {
    top: 84%;
    left: 27%;
}

.eight {
    top: 68%;
    left: 10%;
}

.nine {
    top: 45%;
    left: 4%;
}

.ten {
    top: 22%;
    left: 10%;
}

.eleven {
    top: 6%;
    left: 28%;
}

.handBase {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
}

.minuteHand {
    height: 240px;
    width: 10px;
    background-color: black;
    transform-origin: center bottom;
}

.minuteHandPointer {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 25px solid black;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
}

.hourHand {
    height: 150px;
    width: 16px;
    background-color: black;
    transform-origin: center bottom;
}

.hourHandPointer {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 25px solid black;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
}

.secondHand {
    height: 250px;
    width: 7px;
    background-color: black;
    transform-origin: center bottom;
}