body {
    margin: 0;
}

.case {
    height: 600px;
    width: 600px;
    background-color: #ffcb3d;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face {
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twelve {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.six {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.minuteHandBase {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.minuteHand {
    height: 240px;
    width: 10px;
    background-color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    transform-origin: center bottom; /* The rotation base */
    animation: rotateminuteHand 60s linear infinite; /* Rotate the second hand 360 degrees in 60 seconds */
  }

  .minuteHandPointer {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 25px solid black;
    position: absolute;
    top: -25px; /* Position it at the top of the second hand */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%);
    transform-origin: center bottom; /* Set the rotation base to the bottom center */
}

.hourHandBase {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hourHand {
    height: 150px;
    width: 16px;
    background-color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    transform-origin: center bottom; /* The rotation base */
    animation: rotatehourHand 60s linear infinite; /* Rotate the second hand 360 degrees in 60 seconds */
  }

  .hourHandPointer {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 25px solid black;
    position: absolute;
    top: -25px; /* Position it at the top of the second hand */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%);
    transform-origin: center bottom; /* Set the rotation base to the bottom center */
}

  @keyframes rotateminuteHand {
    0% {
        transform: translate(-50%, -100%) rotate(0deg); /* Start at 0 "12 o'clock" */
    }
    100% {
        transform: translate(-50%, -100%) rotate(360deg); /* End at 360 degrees "12 o'clock" */
    }
}